{% extends "base.html" %}

{% block content %}
<h1>My Tasks</h1>
<ul>
    {% for task in tasks %}
    <li>{{ task.description }}  ( due for {{ task.due_date }} )
         {% if task.overdue %}
          OVERDUE
         {% endif %}
      <form method="post" action="{% url 'app_todo:task_done' task.id %}">
          {% csrf_token %}
          <input type="checkbox" {% if task.is_done%} checked="checked" {% endif %} onclick="this.parentNode.submit();" >
      </form>
    </li>
    <a href="{% url 'app_todo:task_edit' task.id %}">Edit</a>
    <a href="{% url 'app_todo:task_delete' task.id %}">Delete</a>
    {% endfor %}
</ul>

<a href="{% url 'app_todo:task_new' %}">New</a>
<!-- <a href="{% url 'app_todo:sort_tasks' %}">Sort by done</a> -->


<form method="post" action="{% url 'app_todo:sort_tasks' %}">
    {% csrf_token %}
    <input type="submit" value="Sort by done" {% if task.sort_tasks%}{% endif %} onclick="this.parentNode.submit();">
</form>

<form method="post" action="{% url 'app_todo:sort_tasks_overdue' %}">
    {% csrf_token %}
    <input type="submit" value="Sort by date" {% if task.sort_tasks%}{% endif %} onclick="this.parentNode.submit();">
</form>


{% endblock %}



